<div class="jumbotron text-center" role="main">
    <h1>Prueba Front End</h1>
    <h3>Agregar</h3>


    <div class="form-group">
        <label for="inputdescrip">Descripción</label>
        <input type="text" placeholder="Oficina" class="form-control" id="inputdescrip">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputNomOfi">Nombre oficial de la oficina, se mostrará en el catalogo de oficinas
                Estado*</label>
            <select id="inputNomOfi" class="form-control" (change)="onChangeEstado($event.target.value)">
                <option *ngFor="let estado of get_Estados">{{ estado }}</option>
            </select>
        </div>
        <div class="form-group col-md-6" (change)="onChangeCP($event.target.value)">
            <label for="inputCP">C.P.</label>
            <select id="inputCP" class="form-control">
                <option *ngFor="let cp of get_CP_Por_Estado">{{ cp }}</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputMun">Municipio</label>
            <select id="inputMun" class="form-control">
                <option *ngFor="let municipio of get_Municipio_Por_CP">{{ municipio }}</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="inputCol">Colonia</label>
            <select id="inputCol" class="form-control">
                <option *ngFor="let colonia of get_Colonia_Por_CP">{{ colonia }}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputCalle">Calle</label>
        <input type="text" class="form-control" id="inputCalle">
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputNumExt">Número Exterior</label>
            <input type="text" class="form-control" id="inputNumExt">
        </div>
        <div class="form-group col-md-6">
            <label for="inputNumInt">Número Interior</label>
            <input type="text" class="form-control" id="inputNumInt">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEntreCall">Entre calles</label>
        <input type="text" class="form-control" id="inputEntreCall">
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>



</div>